Author: ichitaso
Maintainer: Packix
Name: IconAnus
Package: com.ichitaso.iconanus
Pre-Depends: firmware (>= 13.0)
Depends: mobilesubstrate
Conflicts: me.nepeta.iconstate
Replaces: com.ichitaso.iconanus
Section: Tweaks
Version: 1.0.0
Architecture: iphoneos-arm
Description: Preserve custom icon layouts by Springboard Crash or reboots etc
Depiction: https://cydia.ichitaso.com/depiction/iconanus.html
Homepage: https://ichitaso.com/
dev: ichitaso
Tag: purpose::extension, compatible::ios14
