Author: ichitaso
Maintainer: Packix
Name: IconAnus
Package: com.ichitaso.iconanus
Pre-Depends: firmware (>= 12.0)
Depends: mobilesubstrate
Provides: me.nepeta.iconstate, com.chpwn.iconsupport, com.muirey03.iconsupportfix, com.ryannair05.gridiculousfix
Conflicts: me.nepeta.iconstate, com.chpwn.iconsupport, com.muirey03.iconsupportfix, com.ryannair05.gridiculousfix
Replaces: me.nepeta.iconstate, com.chpwn.iconsupport, com.muirey03.iconsupportfix, com.ryannair05.gridiculousfix
Section: Tweaks
Version: 1.0.3
Architecture: iphoneos-arm
Description: Preserve custom icon layouts by Springboard Crash or reboots etc
Depiction: https://cydia.ichitaso.com/depiction/iconanus.html
Homepage: https://ichitaso.com/
dev: ichitaso
Tag: purpose::extension, compatible::ios13, compatible::ios14
